.container {
    background: linear-gradient(to right, #0030a1, #002355);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin: 15px;
    flex-direction: column;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .logoText {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .searchBar {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 15px;
  }
  
  .actionsContainer {
    display: flex;
    align-items: center;
    margin: 15px;
  }
  
  .requestCallbackButton {
    background: #f4a21c;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: 900;
  }
  
  .phoneIcon {
    margin-right: 5px;
  }
  
  .authButton {
    background: #f4a21c;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 10px;
    font-weight: 900;
  }
  
  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
  }
  
  .navBar {
    background-color: black;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  
  .navLink {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  .navLink:hover {
    color: #f4a21c;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  .nav-buttons {
    display: flex;
    margin-left: 50px;
    gap: 40px;
  }
  .helpButton {
    background: #f4a21c;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 10px;
    font-weight: 900;
  }
  
  .sellCarButton {
    background: #f4a21c;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 10px;
    font-weight: 900;
  }  